<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                <h2 class="fw-bold text-center">
                    La mejor ofensa es una buena defensa
                </h2>
                <hr>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h3 class="fw-normal"  data-aos="fade-up" data-aos-delay="200">
                            Aplicá estas estrategias:
                        </h3>
                    </div>

                    <div class="col-12 col-md-4 mb-5 mb-md-auto">
                        <div class="card-feature text-center"  data-aos="fade-up" data-aos-delay="500">
                            <div class="">
                                <img src="{{'assets/images/SVG/icono-doble-factor.svg' | theme }}" alt="icono boton telefono" title="icono boton telefono">
                            </div>
                            <div class="card-feature-body">
                                <p>Autenticación con doble factor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-5 mb-md-auto">
                        <div class="card-feature text-center"  data-aos="fade-up" data-aos-delay="550">
                            <div class="">
                                <img src="{{'assets/images/SVG/icono-contrasenha.svg' | theme }}" alt="icono boton telefono" title="icono boton telefono">
                            </div>
                            <div class="card-feature-body">
                                <p>Contraseñas complejas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card-feature text-center"  data-aos="fade-up" data-aos-delay="600">
                            <div class="">
                                <img src="{{'assets/images/SVG/icono-llamar.svg' | theme }}" alt="icono boton telefono" title="icono boton telefono">
                            </div>
                            <div class="card-feature-body">
                                <p>Llamar al banco ante dudas</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
