
<section id="hero" >
    <div class="decoration-container-hero" style="background-image: url({{'assets/images/Pattern/Pattern.png' | theme }})"
         data-aos="fade-left"
         data-aos-delay="100"
    >

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h1 class="fw-bold order-1"
                    data-aos="fade-right"
                    data-aos-delay="100"
                >
                    {{this.theme.hero_title}}
                </h1>
                <div class="d-block d-md-none hero-img-container mt-5">
                    <img class="w-100" src="{{ this.theme.hero_image | media }}" alt="Hero Image" title="Hero Image">
                </div>
                <div class="order-3 mt-4 mt-md-auto"
                     data-aos="fade-right"
                     data-aos-delay="200"
                >

                {{this.theme.hero_description | raw }}
                </div>

                <div class="block-highlight"
                     data-aos="fade-right"
                     data-aos-delay="300"
                >
                    ¿Si un ciberdelincuente tratara de engañarte, serías capaz de “re-trucarle” siendo más vivo que él?
                </div>
                <a class="btn btn-outline-primary mt-5 fl-border-radius btn-cta-hero"
                        data-aos="fade-right"
                        data-aos-delay="300"
                        aria-label="Quiero saber cómo"
                   href="{{this.theme.hero_cta}}"
                >
                    <img src="{{'assets/images/SVG/icono-boton-flecha-abajo.svg' | theme }}" alt="">
                    <span> Quiero saber cómo </span>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-12 col-md-6" data-aos="fade-left">
                <div class="hero-img-container d-none d-md-block ">
                    <img
                        class="w-100"
                        src="{{ (this.theme.hero_image | media | resize(488, 331) ) }}"
                        alt="Hero Image" title="Hero Image">
                </div>
            </div>
        </div>
    </div>
</section>
