<div id="hero" class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="fw-bold">¿Sabés cómo pillar una estafa digital</h1>
            <p>Todos los días muchas personas pierden dinero a causa del phishing. Caen porque no conocen el truco para
                evitarlo y porque no saben que los datos que se les pide es para robar SU identidad. Estos datos el
                <strong>BANCO NUNCA LOS PIDE</strong></p>
            <div class="block-highlight">
                ¿Si un ciberdelincuente tratara de engañarte, serías capaz de “re-trucarle” siendo más vivo que él?
            </div>
            <button class="btn btn-outline-primary">
                Quiero saber cómo
            </button>
        </div>
        <div class="col-6">
            <div class="hero-img-container">
                <img class="w-100" src="{{'assets/images/PNG/hero-image.png' | theme }}" alt="Hero Image" title="Hero Image">
            </div>
        </div>
    </div>
</div>
