
<section id="hero" >
    <div class="decoration-container-hero" style="background-image: url({{'assets/images/Pattern/Pattern.png' | theme }})">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="fw-bold order-1">
                    {{this.theme.hero_title}}
                </h1>
                <div class="d-block d-md-none hero-img-container">
                    <img class="w-100" src="{{ this.theme.hero_image | media }}" alt="Hero Image" title="Hero Image">
                </div>
                <div class="order-3 mt-4 mt-md-auto">
                    {{this.theme.hero_description | raw }}
                </div>

                <div class="block-highlight">
                    ¿Si un ciberdelincuente tratara de engañarte, serías capaz de “re-trucarle” siendo más vivo que él?
                </div>
                <button class="btn btn-outline-primary mt-5 fl-border-radius btn-cta-hero">
                    <img src="{{'assets/images/SVG/icono-boton-flecha-abajo.svg' | theme }}" alt="">
                    Quiero saber cómo
                </button>
            </div>
            <div class="col-12 col-md-6">
                <div class="hero-img-container d-none d-md-block ">
                    <img class="w-100" src="{{ this.theme.hero_image | media }}" alt="Hero Image" title="Hero Image">
                </div>
            </div>
        </div>
    </div>
</section>
