<section id="before-start" class="position-relative">

    <div class="container-fluid">


            <div class="decoration-container-1"
                 data-aos="fade-right"
                 data-aos-delay="300"
            >


            </div>
        <div>
            <h2 class="fw-bold text-center mt-5 mt-md-auto" data-aos="fade-in" data-aos-delay="100">
                3 cosas importantes antes de empezar
            </h2>
        </div>
            <div class="main-container">

                <hr  data-aos="fade-in" data-aos-delay="100">
                <div>
                    <h4 class="title-emoji mb-4">
                        <span class="emoji-container" data-aos="zoom-in" data-aos-delay="200">
                            <img
                                loading="lazy"
                                src="{{ 'assets/images/PNG/emoji-te-puede-tocar.png' | theme | resize(56,56) }}" alt=""></span>
                        <span data-aos="fade-right" data-aos-delay="500">Te puede tocar a vos</span>
                    </h4>
                    <div data-aos="fade-right" data-aos-delay="600">
                        <p>Este tipo de prácticas solo van a seguir aumentando. Las estrategias que usan los
                            ciberdelincuentes son cada vez más reales, lo que provoca que muchas personas caigan en sus
                            trampas.
                        </p>
                        <p>
                            En su inocencia confían muy rápido y terminan otorgando sus datos, pensando que realmente es el
                            banco quien pide, cuando en realidad son otras personas.
                        </p>
                        <p>
                            Lo bueno es que podemos protegernos para asegurar que no nos pase. El primer paso es simplemente
                            saber que esto te podría ocurrir y estar alerta.
                        </p>
                    </div>

                </div>
                <h4 class="title-emoji mb-4">
                    <span class="emoji-container" data-aos="zoom-in" data-aos-delay="200">
                        <img
                            loading="lazy"
                            src="{{ 'assets/images/PNG/emoji-el-control-lo-tenes.png' | theme | resize(56,56) }}" alt=""></span>
                    <span data-aos="fade-right" data-aos-delay="500">El control lo tenés vos </span>
                </h4>
                <div data-aos="fade-right" data-aos-delay="600">
                    <p>El segundo paso es que vos podes tener el control. No hay por qué estar asustado.<br/>

                        Ya que la única manera que tienen estas personas de acceder a tu cuenta es si vos le das esa
                        información.
                    </p>
                    <p>
                        Ahí es donde te toca a vos estar alerta e informado sobre este tipo de engaños.
                    </p>
                </div>
                <h4 class="title-emoji mb-4">
                    <span class="emoji-container" data-aos="zoom-in" data-aos-delay="200">
                        <img
                            loading="lazy" src="{{ 'assets/images/PNG/emoji-no-caigas.png' | theme | resize(56,56) }}"
                                                       alt=""></span>
                    <span data-aos="fade-right" data-aos-delay="500">No caigas en la trampa. Sé más vivo que ellos</span>
                </h4>
                <div data-aos="fade-right" data-aos-delay="600">
                    <p>
                        Con una serie de “notas mentales” o “recordatorios” vas a poder evitar caer en su trampa y ser más
                        vivo
                        que ellos. Aprende a reconocer las señales y evita caer en la trampa.
                    </p>
                </div>
            </div>
            <div class="decoration-container-2"
                 data-aos="fade-left"
                 data-aos-delay="300"
            >


            </div>

    </div>
</section>
