<section id="before-start" class="position-relative">

    <div class="container-fluid">


            <div class="decoration-container-1">

            </div>
            <div class="main-container">
                <h2 class="fw-bold text-center">
                    3 cosas importantes antes de empezar
                </h2>
                <hr>
                <div>
                    <h4 class="title-emoji">
                        <span class="emoji-container"><img
                                src="{{ 'assets/images/PNG/emoji-te-puede-tocar.png' | theme }}" alt=""></span>Te puede
                        tocar a vos
                    </h4>
                    <p>Este tipo de prácticas solo van a seguir aumentando. Las estrategias que usan los
                        ciberdelincuentes son cada vez más reales, lo que provoca que muchas personas caigan en sus
                        trampas.<br/>

                        En su inocencia confían muy rápido y terminan otorgando sus datos, pensando que realmente es el
                        banco quien pide, cuando en realidad son otras personas.<br/>

                        Lo bueno es que podemos protegernos para asegurar que no nos pase. El primer paso es simplemente
                        saber que esto te podría ocurrir y estar alerta.
                    </p>
                </div>
                <h4 class="title-emoji">
                    <span class="emoji-container"><img
                            src="{{ 'assets/images/PNG/emoji-el-control-lo-tenes.png' | theme }}" alt=""></span> El
                    control lo tenés vos
                </h4>

                <p>El segundo paso es que vos podes tener el control. No hay por qué estar asustado.<br/>

                    Ya que la única manera que tienen estas personas de acceder a tu cuenta es si vos le das esa
                    información.<br/>

                    Ahí es donde te toca a vos estar alerta e informado sobre este tipo de engaños.
                </p>
                <h4 class="title-emoji">
                    <span class="emoji-container"><img src="{{ 'assets/images/PNG/emoji-no-caigas.png' | theme }}"
                                                       alt=""></span> No caigas en la trampa. Sé más vivo que ellos
                </h4>
                <p>
                    Con una serie de “notas mentales” o “recordatorios” vas a poder evitar caer en su trampa y ser más
                    vivo
                    que ellos. Aprende a reconocer las señales y evita caer en la trampa.
                </p>
            </div>
            <div class="decoration-container-2">

            </div>

    </div>
</section>
