<section id="how-to-protect">
    <div class="container mb-md-5">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold text-center" data-aos="zoom-in" data-aos-delay="100">
                    Aprendé en <span class="txt-main-color">3 minutos</span> cómo protegerte <br/>y asegurá tus datos personales
                </h2>
                <hr  data-aos="zoom-in" data-aos-delay="100">
            </div>
            <div class="col-12 col-md-5 text-center" data-aos="fade-right" data-aos-delay="400">
                <img loading="lazy" src="{{ 'assets/images/SVG/phishing.svg'|theme }}" alt="" class="w-100 phishing-img">
            </div>
            <div class="col-12 col-md-7 d-flex flex-column justify-content-center"  data-aos="fade-right" data-aos-delay="600">
                <h3 class="fw-bold mb-md-4">¿Qué es y cómo funciona el <span class="txt-main-color">Phishing</span>?</h3>
                <p>
                    Es una forma en la que personas malintencionadas se hacen pasar por el banco y consiguen tus datos a
                    través de correos electrónicos, mensajes de texto, llamadas al celular, noticias y promociones
                    falsas en redes sociales para robar tu dinero.
                </p>
            </div>
            <div class="col-12 mb-5">
                <div class="row mt-4">
                    <div class="col-12 col-md-5 order-2 order-md-1">
                        <div class="chat-container" data-aos-delay="100">
                            <div class="chat-emoji"  data-aos="fade-right" >
                                <img loading="lazy"
                                     src="{{'assets/images/PNG/emoji-como-me-doy-cuenta.png' | theme | resize(56,56)}}" alt="" class="w-100">
                            </div>
                            <div class="chat-bubble"  data-aos="fade-right">
                            <span class="fw-bold">
                                ¿Cómo me doy cuenta si el mensaje que recibí es falso?
                            </span>
                            </div>

                        </div>
                        <ul class="fl-list"  data-aos="fade-right" data-aos-delay="200">
                            <li>Te apuran o te presionan para que hagas lo que te dicen.</li>
                            <li>Los mensajes suelen tener mala ortografía o gramática.</li>
                            <li>La dirección web que te dan nunca es igual a la del Banco. Ejemplo: www.familiarfalso.net.ru</li>
                            <li>Te piden que llames a un número de teléfono diferente del que conocés.</li>
                            <li>Te solicitan información confidencial de tu cuenta.</li>
                            <li>Te piden tus contraseñas.</li>
                            <li>Solicitan tu PIN o un código de inicio de sesión.</li>
                            <li>Adjuntan links o documentos extraños al correo.</li>
                            <li>Te piden que des click en un enlace sospechoso.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2 text-center" data-aos="fade-right"  data-aos-delay="300">
                        <img loading="lazy" src="{{ this.theme.image_proteccion | media | resize(392, 500)}}" alt="" class="w-100 image-person">
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-12">
                        <div class="share-block"  data-aos-delay="200" data-aos="zoom-in">
                            <div class="row flex-column flex-md-row">
                                <div class="col-12 col-md-8 order-2 order-md-1">
                                    <h4 class="fw-bold">
                                        Lo bueno se comparte
                                    </h4>
                                    <p>
                                        ¿Te son familiares algunas de estas señales?
                                        Mandale esta info a tus familiares, amigos y conocidos para que todos sepan cómo retrucar a los ciberdelincuentes.
                                    </p>
                                    <button class="btn btn-outline-primary fl-border-radius btn-cta-hero">
                                        <span class="me-2"><img loading="lazy" src="{{'assets/images/SVG/icono-boton-compartir.svg' | theme}}" alt=""></span>Compartir
                                    </button>
                                </div>
                                <div class="col-12 col-md-4 order-1 order-md-2"  data-aos-delay="400" data-aos="zoom-in">
                                    <img loading="lazy" class="tortu-ok"
                                         src="{{'assets/images/PNG/tortu-1.png' | theme | resize(191,280) }}" alt="tortu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% if this.theme.switch_phishing %}


{% endif %}
