<section id="how-to-protect">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold">
                    Aprendé en 3 minutos cómo protegerte
                </h2>
                <hr>
            </div>
            <div class="col-6">
                <img src="{{ 'assets/images/SVG/phishing.svg'|theme }}" alt="">
            </div>
            <div class="col-6">
                <h3 class="fw-bold">¿Qué es y cómo funciona el <span class="txt-main-color">Phishing</span>?</h3>
                <p>
                    Es una forma en la que personas malintencionadas se hacen pasar por el banco y consiguen tus datos a
                    través de correos electrónicos, mensajes de texto, llamadas al celular, noticias y promociones
                    falsas en redes sociales para robar tu dinero.
                </p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <span class="fw-bold">
                            ¿Cómo me doy cuenta si el mensaje que recibí es falso?
                        </span>
                    </div>
                    <ul class="fl-list">
                        <li>Te apuran o te presionan para que hagas lo que te dicen.</li>
                        <li>Los mensajes suelen tener mala ortografía o gramática.</li>
                        <li>La dirección web que te dan nunca es igual a la del Banco. Ejemplo: www.familiarfalso.net.ru</li>
                        <li>Te piden que llames a un número de teléfono diferente del que conocés.</li>
                        <li>Te solicitan información confidencial de tu cuenta.</li>
                        <li>Te piden tus contraseñas.</li>
                        <li>Solicitan tu PIN o un código de inicio de sesión.</li>
                        <li>Adjuntan links o documentos extraños al correo.</li>
                        <li>Te piden que des click en un enlace sospechoso.</li>
                    </ul>
                </div>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="share-block">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="fw-bold">
                                    Lo bueno se comparte
                                </h4>
                                <p>
                                    ¿Te son familiares algunas de estas señales?
                                    Mandale esta info a tus familiares, amigos y conocidos para que todos sepan cómo retrucar a los ciberdelincuentes.
                                </p>
                                <button class="btn btn-outline-primary">
                                    Compartir
                                </button>
                            </div>
                            <div class="col-4">
                                <img class="w-100" src="{{'assets/images/PNG/tortu-1.png' | theme}}" alt="tortu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
