<div id="tapitip">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 position-relative">
                <div>
                    <div class="background-dots" data-aos="fade-right" data-aos-delay="100">

                    </div>
                    <div class="tapiti-container"  data-aos="fade-right" data-aos-delay="200">
                        <img loading="lazy" class="" src="{{'assets/images/PNG/tapiti-2.png' | theme | resize(400,528)}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-auto">
                <p class="tapitip-text"  data-aos="fade-left" data-aos-delay="300">
                    La mejor defensa es simplemente ignorar este tipo de mensajes.<br/>
                    Ante la duda, Llamá al banco para verificar la validez del mensaje.

                </p>
            </div>
        </div>
    </div>
</div>
