<section id="tapitip">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 position-relative">
                <div>
                    <div class="background-dots">

                    </div>
                    <div class="tapiti-container">
                        <img class="" src="{{'assets/images/PNG/tapiti-2.png' | theme }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mt-4 mt-md-auto">
                <p>
                    La mejor defensa es simplemente ignorar este tipo de mensajes.<br/>
                    Ante la duda, Llamá al banco para verificar la validez del mensaje.

                </p>
            </div>
        </div>
    </div>
</section>
