<section id="tapitip">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <img class="w-100" src="{{'assets/images/tapiti-2.png' | theme }}" alt="">
                </div>
            </div>
            <div class="col-6">
                <p>
                    La mejor defensa es simplemente ignorar este tipo de mensajes.
                    Ante la duda, Llamá al banco para verificar la validez del mensaje.

                </p>
            </div>
        </div>
    </div>
</section>
