description = "Layout Principal"
==
<!DOCTYPE html>
<html lang="es">
<head>

    {% partial 'general/meta' %}

</head>
    <body>

        {% partial 'general/navigation' %}

        {% page %}

        {% partial 'general/footer' %}


        <script src="{{'assets/node_modules/jquery/dist/jquery.min.js' | theme }}"></script>
        <script src="{{'assets/node_modules/aos/dist/aos.js' | theme }}"></script>
        <script src="{{'assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' | theme }}"></script>
        <script src="{{'assets/js/config.js' | theme }}"></script>

        {% framework %}
        {% scripts %}
    </body>
</html>
