<footer class="">
    <div class="container">
        <div class="row mb-2 mb-md-5">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="col-6 col-md-12">
                        <div class=" text-center">
                            <img loading="lazy" class="logo-footer" src="{{'assets/images/SVG/familiar-logo.svg' | theme}}" alt="Banco Familiar logo" title="Banco Familiar Logo">
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        Nuestros canales <br class=""/>
                        DE ATENCIÓN
                    </div>
                </div>

            </div>
            <div class="col-md-3 md-separator mt-4 mt-md-auto">
                <h6 class="fw-bold">Redes Sociales</h6>
                <p>Respondemos tus consultas online</p>
                <div class="row">
                    <div class="col-12">
                        <a href="{{this.theme.social_fb}}" class="btn btn-social-footer">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{{this.theme.social_insta}}" class="btn btn-social-footer">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="{{this.theme.social_tw}}" class="btn btn-social-footer">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3  md-separator d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-3 col-md-4">
                        <a href="#" class="btn btn-social-footer btn-social-lg">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                    <div class="col-9 col-md-8 ">
                        <h6 class="fw-bold">Whatsapp</h6>
                        <p>
                            <a class="text-decoration-none" href="{{this.theme.social_wa_link}}">{{ this.theme.social_wa }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 px-0 px-auto d-flex align-items-center justify-content-center">
                <div class="row pt-4 pt-md-0">
                    <div class="col-3 col-md-4">
                        <a href="#" class="btn btn-social-footer btn-social-lg">
                            <i class="fas fa-headset"></i>
                        </a>
                    </div>
                    <div class="col-9 col-md-8 px-0">
                        <h6 class="fw-bold">Atención al cliente</h6>
                        <p>0 800 11 3322 o *3322</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>
                    <p class="text-md-center mt-md-5 text-white mb-0">
                        Diseño & Desarrollo Web:
                        <a class="" href="{{this.theme.contact_disenho}}">{{this.theme.nombre_disenho}} </a>

                        <br/>
                        Redacción de contenidos:
                        <a href="{{this.theme.contact_redaccion}}">{{this.theme.nombre_redaccion}} </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
