<footer class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="my-5 text-center">
                    <img class="w-50" src="{{'assets/images/PNG/logo-white.png' | theme}}" alt="">
                </div>
                <div>
                    <p class="text-center py-3 text-white">
                        Diseño & Desarrollo Web: Designneer Studio <br/>
                        Redacción de contenidos: Giulio Correa
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
