<footer class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="my-5 text-center">
                    <img loading="lazy" class="logo-footer" src="{{'assets/images/PNG/logo-white.png' | theme}}" alt="">
                </div>
                <div>
                    <p class="text-center py-3 text-white">
                        Diseño & Desarrollo Web:
                        <a href="{{this.theme.contact_disenho}}">{{this.theme.contact_disenho}} </a>

                        <br/>
                        Redacción de contenidos:
                        <a href="{{this.theme.contact_redaccion}}">{{this.theme.contact_redaccion}} </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
