<header class="py-3">
    <div class="container d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <a href="#"
           class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 text-decoration-none"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{'assets/images/PNG/logo-fullcolor.png' | theme}}" alt="" class="nav-logo">
        </a>



        <div class="d-flex align-items-center">
            <div class="w-100 me-3">


            </div>

            <div class="flex-shrink-0 dropdown">
                <button class="btn btn-primary fl-contact-btn fl-border-radius">
                    <img src="{{'assets/images/SVG/icono-boton-telefono.svg' | theme }}" alt="">
                    Llamar al Banco
                </button>
            </div>
        </div>
    </div>
</header>
